button{    
background-color: white;
color: green;
padding: 5px;
border: 1px solid green;
margin-top: 40px;
margin-left: 40px;
margin-bottom: 20px;
border-radius: 20px;
width: 130px;
}
.plus{

background-color: green;
color: white;
border: 10px;
margin-top: 10px;
width: 30px;
height: 32px;
font-size: large;
}
.create{
color: white;
background-color: blue;
margin-top: 10px;
width: 150px;
box-shadow: 10px 5px 5px black;
border-radius: 0px;
}